<app-header></app-header>
<main>
  <app-start (started)="onWelcomeEmit()" *ngIf="currentStep === 'welcome'"></app-start>
  <app-ticket (code)="onCodeEmit($event)" *ngIf="currentStep === 'ticket'"></app-ticket>
  <app-identification (identification)="onIdentificationEmit()" *ngIf="currentStep === 'identification'"
                      [ticketCode]="ticketCode"></app-identification>
  <app-badge (badgeSerialNumber)="onBadgeSerialNumberEmit($event)" *ngIf="currentStep === 'badge'"></app-badge>
  <app-finish (finish)="onFinishEmit()" *ngIf="currentStep === 'finish'"></app-finish>
</main>
